{% extends "adminBase.html" %}
{% block title %}Insert New Movie{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages()%}
    {% if messages %}
      {%for msg in messages %}
          <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}


<div class="card-wrapper">
    <div class="card">      
    <!-- On one of the card we are going to print all the movie titles so the user 
         does not have to use the search method and then go back to the delete page
         since my html knowledge in close to none I can not do refreshing of pages 
         and this seems the only way :). Sorry for the inconvenience.
    -->
      <h1 class="center">Modify User Category</h1>
      {% for usr in users%}
        <ul class="list-group" style="margin: 0.5rem 0">
          <li class="list-group-item"><strong>{{ usr.email }}</strong></li>
          <li class="list-group-item"><strong>{{ usr.category }}</strong></li>
        </ul>
      {% endfor %}

      <form action="/admin/userModification" method ="POST" name="userModification_form">
        <label for="email">User E-mail</label>
        <input type="email" name="email" class="field" required><br>
        <p class="error error--hidden"></p>
        <input type="submit" value="Submit" class="button">
      
      </form>
      
    </div>
</div>








{% endblock %}